@import url("https://fonts.google.com/share?selection.family=Montserrat");

* {
    font-family: "Montserrat";
    margin-bottom: 0px;
}

body {
    background-color: #242c66;
    background-repeat: repeat;
    text-decoration: none;

    a {
        .scroll {
            #bio {
                width: 150px;
            }
        }
    }

    .reveal {
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: 2s all ease;

        &:active {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .prox {
        h3 {
            text-align: center;
            border: 1px solid #96A0F0;
            color: #96A0F0;
            font-size: 50px;
            margin: 200px;
        }
    }
}

/*Estilos de Texto*/
.style1 {
    font-family: "Montserrat";
    color: #FFFFFF;
    text-decoration: none;
}

.style2 {
    font-family: "Bahnschrift";
    font-weight: bold;
    font-size: 50px;
    color: #96A0F0;
    text-decoration: none;
}

.style3 {
    font-size: 19px;
    font-family: "Montserrat";
    color: white;
    text-decoration: none;
}

.style4 {
    font-family: "Great Vibes";
    font-weight: normal;
    font-size: 50px;
    color: #96A0F0;
    text-align: center;
    text-decoration: none;
}

.style5 {
    font-family: "Montserrat";
    font-size: 25px;
    color: #FFFFFF;
}

.style6 {
    color: #96A0F0;
    font-family: "Montserrat";
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.style7 {
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    color: white;
    text-decoration: none;
}